/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */

*,*::before,*::after {
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
html {
    overflow: hidden;
    background: #F2F4F6;
}

@font-face{
    font-family: ntnxthin;
    src: url(./fonts/NutanixSoft-Thin.otf);
}

@font-face{
  font-family: ntnxregular;
  src: url(./fonts/NutanixSoft-Regular.otf);
}

@font-face{
  font-family: ntnxsemi-bold;
  src: url(./fonts/NutanixSoft-Semibold.otf);
}

@font-face{
  font-family: ntnxmedium;
  src: url(./fonts/NutanixSoft-Medium.otf);
}

body {
  font: 500 14px/10px "ntnxregular", sans-serif;
  color: #22272E;
}

/* Header Start */

.header {
  height: 60px;
  background-color: #22272E;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header3 {
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  margin-left: 20px;
}

input {
  padding: 10px 10px;
  width: 300px;
  height: 32px;
  border-radius: 4px;
  background-color: #37414B;
  border: none;
  margin: auto;
  margin-left: 20px;
  font-family: "ntnxmedium";
  font-size: 14px;
  color: white;
}

.logo {
  margin: auto;
}

.bell {
  margin-right: 20px;
}

.task {
  margin-right: 20px;
}

.username {
  margin: 25px 5px 25px 0px;
  font: 500 14px/10px "ntnxmedium";
  color: #9AA5B5;
}

.username:hover {
  color: white;
}

.chevron {
  margin-right: 20px;
}

/* Header End */

/* Main Body Start */

/* Left Menu Start */

.main {
  display: grid;
  grid-template-columns: 240px auto;
}

.left {
  background-color: white;
  height: 100vh;
}

.headline {
  font: 29px/20px "ntnxthin";
  margin-top: 30px;
  margin-left: 20px;
}

.subtext {
  font: 14px/10px "ntnxregular";
  margin-top: 20px;
  margin-left: 20px;
  color: #9AA5B5;
}

.divider {
  background-color: #D5DAE0;
  width: 32px;
  height: 1px;
  margin-top: 20px;
  margin-left: 20px;
}

.side-menu {
  color: #627386;
  font: 14px/10px "ntnxmedium";
  margin-left: 20px;
  margin-top: 22px;
}

.side-menu:hover {
  color: #22A5F7;
}

.selected {
  background: #F4FBFF;
  box-shadow: inset -2px 0 0 0 #22A5F7;
  height: 32px;
  margin-top: 11px;
  display: flex;
  align-items: center;
}

.selected-menu {
  font: 14px/10px "ntnxmedium";
  margin-left: 20px;
}

/* left Menu End */

/* Right View Start */

.button-bar {
  /* display: grid; */
  margin: 20px;
}

button {
  background-color: #22A5F7;
  color: white;
  font: 14px/10px "ntnxmedium";
  height: 32px;
  border: none;
  border-radius: 4px;
  padding: 11px 15px 11px 15px;
}

.actions {
  background-color: white;
  color: #22272E;
}